@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h3 class="display-4">Welcome</h3>
        <img src="~/images/visit-nepal-2020-1140x530.jpg" alt="Visit Nepal" />
    </div>
