@page "{restaurantId:int}"



@model OdeToFood.Pages.Restaurants.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.Restaurant.Name</h2>
<div>
    
    Location: @Model.Restaurant.Location
</div>
<div> Cusion: @Model.Restaurant.Cuisine</div>
<a asp-page="./List" class="btn btn-dark">All Restaurant</a>

